<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Notes</title>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<div class="form-group ">
		<a class="btn btn-info btn-lg btn-block login-button"
			th:href="@{/getallnotes}">GetAllNotes</a>
	</div>
	<div class="form-group ">
		<a class="btn btn-info btn-lg btn-block login-button"
			th:href="@{/addnotes}">AddNotes</a>
	</div>
</body>
</html>